/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #2A8356;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

select {
  border: none;
  font-weight: 1000;
}

nav {
  padding: 2rem 0;
  max-width: 296px;
  width: 100%;
  background: #EDF4EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

nav .logo {
  margin: 0 0 2rem 2rem;
}

nav ul a {
  font-size: 1rem;
  line-height: 24px;
  padding-left: 2rem;
  margin-bottom: 1.625rem;
  font-weight: 1000;
}

nav ul a:hover {
  border-left: 4px solid #2a8356;
  padding-left: 1.75rem;
  color: #2a8356;
}

nav ul a i {
  position: relative;
  top: 5px;
  margin-right: 1rem;
}

nav .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  margin-top: auto;
}

nav .user-photo {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  position: relative;
  top: 5px;
}

nav .user .name {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 1000;
}

nav .user .email {
  font-size: 0.875rem;
  line-height: 24px;
  color: #0000009a;
}

form h6 {
  font-size: 1.25rem;
  line-height: 33px;
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 4px;
}

form input[type="text"] {
  margin-bottom: 1rem;
  width: 100%;
  height: 51px;
}

form .verification {
  border-bottom: 1px solid #000;
}

form .verification p {
  margin-bottom: 4px;
}

form .verification p i {
  color: #e3006e;
}

form .verification a {
  padding-top: 13px;
  margin-bottom: 1rem;
  width: 100%;
  height: 51px;
}

form .access-level {
  border-bottom: 1px solid #000;
}

form .access-level select {
  border: 1px solid #000;
  width: 100%;
  height: 51px;
}

form .custom-access input[type="checkbox"] {
  margin-bottom: 1rem;
}

.modal h5 {
  font-size: 1.5rem;
  line-height: 33px;
}

.all-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assignment-wrapper {
  padding: 2rem;
  width: 100%;
}

.assignment-wrapper .assignment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.75rem;
}

.assignment-wrapper .assignment-header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assignment-wrapper .assignment-header .header-title h1 {
  font-size: 1.5rem;
  line-height: 33px;
  margin-right: 2.875rem;
}

.assignment-wrapper .assignment-header .header-title select {
  font-size: 1rem;
  font-weight: 1000;
}

.assignment-wrapper .assignment-header .header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assignment-wrapper .assignment-header .header-icon a {
  margin-left: 1.625rem;
}

.assignment-wrapper .assignment-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignment-wrapper .assignment-body .assignment-list {
  width: 34.78%;
}

.assignment-wrapper .assignment-body .assignment-list select {
  margin-bottom: 2px;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item {
  padding: 0.75rem;
  border: 1px solid #CDDDCD;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item:hover {
  background: #EDF4EE;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item .chapter-and-create-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item .chapter-and-create-time .assignment-chapter {
  font-size: 0.75rem;
  line-height: 24px;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item .chapter-and-create-time .assignment-create-time {
  font-size: 0.75rem;
  line-height: 24px;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item .title-and-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item .title-and-name .assignment-title {
  font-size: 0.75rem;
  line-height: 24px;
}

.assignment-wrapper .assignment-body .assignment-list .list-group-item .title-and-name .assignment-name {
  font-size: 0.75rem;
  line-height: 24px;
  color: #0000009A;
}

.assignment-wrapper .assignment-body .comments {
  width: 63.47%;
}

.assignment-wrapper .assignment-body .comments .comment-total {
  font-size: 0.75rem;
  line-height: 24px;
  color: #707070;
}

.assignment-wrapper .assignment-body .comments .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1rem;
  background: #EDF4EE;
}

.assignment-wrapper .assignment-body .comments .card-header .chapter {
  font-size: 0.75rem;
  line-height: 24px;
}

.assignment-wrapper .assignment-body .comments .card-header .title {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 1000;
}

.assignment-wrapper .assignment-body .comments .card-header i {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.assignment-wrapper .assignment-body .comments .card-body .media {
  margin-bottom: 1rem;
  border-bottom: 1px solid #CDDDCD;
}

.assignment-wrapper .assignment-body .comments .card-body .media img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.assignment-wrapper .assignment-body .comments .card-body .media .comment-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignment-wrapper .assignment-body .comments .card-body .media .comment-info .favorite-and-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assignment-wrapper .assignment-body .comments .card-body .media .comment-info .favorite-and-edit a {
  margin-left: 1.5rem;
}

.assignment-wrapper .assignment-body .comments .switch-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignment-wrapper .assignment-body .comments .switch-and-button .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-wrapper {
  padding: 2rem;
  width: 100%;
}

.admin-wrapper .admin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.75rem;
}

.admin-wrapper .admin-header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-wrapper .admin-header .header-title h1 {
  font-size: 1.5rem;
  line-height: 33px;
  margin-right: 2.875rem;
}

.admin-wrapper .admin-header .header-title a {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 1000;
  font-weight: 1000;
}

.admin-wrapper .admin-header .header-title a i {
  margin-right: 0.8rem;
  vertical-align: bottom;
  color: #2A8356;
}

.admin-wrapper .admin-header .header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-wrapper .admin-header .header-icon a {
  margin-left: 1.625rem;
}

.admin-wrapper table {
  margin-bottom: 2rem;
}

.admin-wrapper table th {
  border-top: none;
  padding: 1rem 0;
  border-bottom: 1px solid #121212;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 1000;
}

.admin-wrapper table tbody {
  margin-bottom: 4rem;
}

.admin-wrapper table tbody tr:hover {
  background: #EDF4EE;
}

.admin-wrapper table tbody tr td {
  border-top: none;
  padding: 1rem 0;
  border-bottom: 1px solid #cdddcd;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 1000;
  font-weight: 600;
}

.admin-wrapper table .table-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin-wrapper table .table-icons a:last-child {
  margin-left: 1.5rem;
}

.admin-wrapper .page-link {
  padding: 5px 0 0 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 1px solid #2A8356;
  color: #121212;
}

.admin-wrapper .page-link:hover {
  color: white;
  background: #2A8356;
}
/*# sourceMappingURL=all.css.map */