@mixin font-sm{
    font-size: $font-sm;
    line-height: $line-height;
}

@mixin font-md{
    font-size: $font-md;
    line-height: $line-height;
    font-weight: 1000;
}

@mixin font-lg{
    font-size: $font-lg;
    line-height: $line-height-lg;
    font-weight: 1000;
}

@mixin input-width{
    width: 100%;
    height: 51px;
}