$primary-color:#EDF4EE;
$border-color:#CDDDCD;
$hover-color:#2A8356;
$green-dark:#2A8356;
$second-color:#e3006e;
$font-sm:0.75rem;
$font-md:1rem;
$font-lg:1.5rem;
$line-height-lg:36px;
$line-height:24px;
