.btn-outline-primary{
    border: 1px solid $border-color;
    color: $green-dark;
}

.btn-outline-primary:hover{
    border: 1px solid $green-dark;
    background: $green-dark;
    color: #fff;
}

.btn-primary{
    border: 1px solid $green-dark;
    background: $green-dark;
    color: #fff;
}

.btn-primary:hover{
    border: 1px solid $border-color;
    color: $green-dark;
    background: #fff;
}

.btn-outline-secondary{
    border: 1px solid  $second-color;
    color: $second-color;
}

.btn-outline-secondary:hover{
    background: $second-color;
    color: #fff;
    border: 1px solid $second-color;
}